.context-menu-icon-add-node-from-lib>span::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url('../../../assets/book-stack.svg');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: absolute;
    left: 5px;
}

.context-menu-icon-create-node>span::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url('../../../assets/server-connection.svg');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: absolute;
    left: 5px;
}