@use '../../../mixins' as mixins;

.context-menu-icon-add-port>span::before {
    @include mixins.context-menu-icon;
    background-image: url('../../../../assets/data-transfer-both.svg');
}

.context-menu-icon-change-image>span::before {
    @include mixins.context-menu-icon;
    background-image: url('../../../../assets/media-image-plus.svg');
}

.context-menu-icon-save-node-to-library>span::before {
    @include mixins.context-menu-icon;
    background-image: url('../../../../assets/floppy-disk-blue.svg');
}

.context-menu-icon-remove-node>span::before {
    @include mixins.context-menu-icon;
    background-image: url('../../../../assets/trash.svg');
}

.context-menu-icon-unlock-ports>span::before {
    @include mixins.context-menu-icon;
    background-image: url('../../../../assets/lock-slash.svg');
}

.context-menu-icon-lock-ports>span::before {
    @include mixins.context-menu-icon;
    background-image: url('../../../../assets/lock.svg');
}

.context-menu-icon-export-node>span::before {
    @include mixins.context-menu-icon;
    background-image: url('../../../../assets/export.svg');
}

.context-menu-icon-left>span::before {
    @include mixins.context-menu-icon;
    background-image: url('../../../../assets/border-left.svg');
}

.context-menu-icon-right>span::before {
    @include mixins.context-menu-icon;
    background-image: url('../../../../assets/border-right.svg');
}

.context-menu-icon-top>span::before {
    @include mixins.context-menu-icon;
    background-image: url('../../../../assets/border-top.svg');
}

.context-menu-icon-bottom>span::before {
    @include mixins.context-menu-icon;
    background-image: url('../../../../assets/border-bottom.svg');
}

.context-menu-icon-add-port-left-io>span::before {
    @include mixins.context-menu-icon;
    background-image: url('../../../../assets/io.svg');
    transform: rotate(180deg);
}

.context-menu-icon-add-port-left-in>span::before {
    @include mixins.context-menu-icon;
    background-image: url('../../../../assets/in.svg');
    transform: rotate(180deg);
}

.context-menu-icon-add-port-left-out>span::before {
    @include mixins.context-menu-icon;
    background-image: url('../../../../assets/out.svg');
    transform: rotate(180deg);
}

.context-menu-icon-add-port-top-io>span::before {
    @include mixins.context-menu-icon;
    background-image: url('../../../../assets/io.svg');
    transform: rotate(-90deg);
}

.context-menu-icon-add-port-top-in>span::before {
    @include mixins.context-menu-icon;
    background-image: url('../../../../assets/in.svg');
    transform: rotate(-90deg);
}

.context-menu-icon-add-port-top-out>span::before {
    @include mixins.context-menu-icon;
    background-image: url('../../../../assets/out.svg');
    transform: rotate(-90deg);
}

.context-menu-icon-add-port-bottom-io>span::before {
    @include mixins.context-menu-icon;
    background-image: url('../../../../assets/io.svg');
    transform: rotate(90deg);
}

.context-menu-icon-add-port-bottom-in>span::before {
    @include mixins.context-menu-icon;
    background-image: url('../../../../assets/in.svg');
    transform: rotate(90deg);
}

.context-menu-icon-add-port-bottom-out>span::before {
    @include mixins.context-menu-icon;
    background-image: url('../../../../assets/out.svg');
    transform: rotate(90deg);
}

.context-menu-icon-add-port-right-io>span::before {
    @include mixins.context-menu-icon;
    background-image: url('../../../../assets/io.svg');
}

.context-menu-icon-add-port-right-in>span::before {
    @include mixins.context-menu-icon;
    background-image: url('../../../../assets/in.svg');
}

.context-menu-icon-add-port-right-out>span::before {
    @include mixins.context-menu-icon;
    background-image: url('../../../../assets/out.svg');
}